In [113]:
from bs4 import BeautifulSoup as bs
import urllib
import pandas as pd
from selenium import webdriver

In [45]:
%pwd

u'/Users/ronaldholt/dfs_stored_db'

In [101]:
#path to chrome webdriver... must import / download
driver = webdriver.Chrome('/Users/ronaldholt/Downloads/chromedriver')

In [102]:
#1
driver.get('https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/2018-01-15')
#2 - close alert
#3
#elem1 = driver.find_element_by_link_text("copy player list")
# 4
#elem1.click()

In [103]:
### A pop-up will appear and suggest for you to close it ###
close_login = driver.find_element_by_class_name("close-login-alert")
close_login.click()

In [104]:
### we need to gather all players from the drop down...
## Use dev tools in chrome; find element name and find value to select... 
# then run code below
from selenium.webdriver.support.ui import Select
select = Select(driver.find_element_by_name('ff_length'))
select.select_by_value('-1')

In [105]:
### This code "clicks" copy player list - this copies player data to the os clipboard
elem1 = driver.find_element_by_link_text("copy player list")
elem1.click()

In [106]:
### Closes pop-up that confirms copied player list
close_copy = driver.find_element_by_class_name("sa-confirm-button-container")
close_copy.click()

In [107]:
df2 = pd.read_clipboard()

In [ ]:
df2.to_csv()

None

In [116]:
base_url = "https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/DATE"

In [121]:
DT = '2018-01-01'
base_url.replace("DATE", DT)

'https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/2018-01-01'

In [130]:
from datetime import timedelta, date

def daterange(start_date, end_date):
    for n in range(int ((end_date - start_date).days)):
        yield start_date + timedelta(n)

start_date = date(2018, 1, 1)
end_date = date(2018, 1, 4)
for single_date in daterange(start_date, end_date):
    print single_date.strftime("%Y-%m-%d") #gives the proper date format
    print base_url.replace("DATE", single_date.strftime("%Y-%m-%d")) #inserts into the DATE of the url

2018-01-01
https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/2018-01-01
2018-01-02
https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/2018-01-02
2018-01-03
https://www.fantasycruncher.com/lineup-rewind/draftkings/NBA/2018-01-03

In [131]:
%pwd

u'/Users/ronaldholt/dfs_stored_db'

In [132]:
cd data/

/Users/ronaldholt/dfs_stored_db/data

In [144]:
df = pd.read_csv('2017-11-14', skiprows=[0], header=None)

In [145]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,0,James Harden,PG/SG,HOU,vs TOR,7th,112.25,12300,40.3,85.5,...,35.5,35.82,59.68,59.68,100,77,4.9,39.0,62.50,5.1
1,1,LaMarcus Aldridge,PF/C,SAS,@ DAL,27th,103.00,8500,29.8,58.9,...,32.3,33.00,42.27,42.27,100,79,5.0,35.0,48.75,5.7
2,2,Kyrie Irving,PG,BOS,@ BKN,30th,108.00,8200,31.3,77.8,...,30.5,33.00,51.25,51.25,100,64,6.3,29.0,38.25,4.7
3,3,DeMar DeRozan,SG/SF,TOR,@ HOU,23rd,106.25,8000,24.4,56.9,...,34.1,35.45,38.33,38.33,100,75,4.8,33.0,42.50,5.3
4,4,Kyle Lowry,PG,TOR,@ HOU,2nd,106.25,7700,9.5,50.9,...,30.6,29.04,27.21,27.21,100,62,3.5,37.0,43.75,5.7

In [139]:
df = pd.read_csv('2017-11-15')

In [142]:
col_names = df.columns

In [146]:
df.columns = col_names

In [147]:
df.head()

,Unnamed: 0,Player,Pos,Team,Opp,Def v Pos,VegasPts,Salary,Floor,Ceiling,...,MPG,Proj Mins,FC Proj,My Proj,Exposure,Con.,Value,Mins,Score,Val
0,0,James Harden,PG/SG,HOU,vs TOR,7th,112.25,12300,40.3,85.5,...,35.5,35.82,59.68,59.68,100,77,4.9,39.0,62.50,5.1
1,1,LaMarcus Aldridge,PF/C,SAS,@ DAL,27th,103.00,8500,29.8,58.9,...,32.3,33.00,42.27,42.27,100,79,5.0,35.0,48.75,5.7
2,2,Kyrie Irving,PG,BOS,@ BKN,30th,108.00,8200,31.3,77.8,...,30.5,33.00,51.25,51.25,100,64,6.3,29.0,38.25,4.7
3,3,DeMar DeRozan,SG/SF,TOR,@ HOU,23rd,106.25,8000,24.4,56.9,...,34.1,35.45,38.33,38.33,100,75,4.8,33.0,42.50,5.3
4,4,Kyle Lowry,PG,TOR,@ HOU,2nd,106.25,7700,9.5,50.9,...,30.6,29.04,27.21,27.21,100,62,3.5,37.0,43.75,5.7

In [155]:
import glob
path = %pwd                    # use your path
all_files = glob.glob(os.path.join(path, "*"))     # advisable to use os.path.join as this makes concatenation OS independent

df_from_each_file = (pd.read_csv(f, skiprows=[0], header=None) for f in all_files)
concatenated_df   = pd.concat(df_from_each_file, ignore_index=True)

In [158]:
concatenated_df.columns = col_names

In [159]:
concatenated_df.head()

,Unnamed: 0,Player,Pos,Team,Opp,Def v Pos,VegasPts,Salary,Floor,Ceiling,...,MPG,Proj Mins,FC Proj,My Proj,Exposure,Con.,Value,Mins,Score,Val
0,0,Giannis Antetokounmpo,PG/SF,MIL,@ CHA,21st,99.50,12000,37.3,61.7,...,36.9,36.00,47.77,47.77,100,88,4.0,31.0,45.75,3.8
1,1,DeMarcus Cousins,PF/C,NOP,vs MIN,30th,113.00,11400,46.6,88.6,...,36.6,38.52,64.64,64.64,100,81,5.7,40.0,71.75,6.3
2,2,Anthony Davis,PF/C,NOP,vs MIN,13th,113.00,11200,22.9,99.5,...,33.5,37.24,55.71,55.71,100,59,5.0,43.0,54.00,4.8
3,3,James Harden,PG/SG,HOU,@ NYK,16th,109.75,11000,48.0,73.0,...,35.8,37.67,58.73,58.73,100,86,5.3,34.0,50.25,4.6
4,4,LeBron James,SF/PF,CLE,vs IND,5th,114.50,10400,32.6,84.3,...,36.6,39.33,54.79,54.79,100,71,5.3,37.0,61.00,5.9